name: Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.VPS_SSH_KEY }}

      - name: Deploy
        run: |
          ssh -o StrictHostKeyChecking=no root@188.132.198.189 << 'EOF'
            cd /var/www/kariyer-kamulog

            git fetch origin
            git reset --hard origin/main

            npm install

            npx prisma generate
            npx prisma db push

            rm -rf .next
            npm run build

            pm2 restart kamulogkariyer --update-env
          EOF
